# WarningsAsErrors: '*'
Checks: >
  -*,

  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  unused-*
  cppcoreguidelines-*

  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-include,
  -bugprone-suspicious-memory-comparison,
  -bugprone-unused-return-value,
  -misc-misplaced-const,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -modernize-use-constraints,
  -modernize-avoid-c-arrays,
  -modernize-type-traits
