CompileFlags:
  CompilationDatabase: ./build/
  Add: [-std=c++23]
 
Hover:
  ShowAKA: Yes

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes

Diagnostics:
  Suppress:
